{% extends "base.html" %}


{% block content %}

    <!-- ========================
       page title 
    =========================== -->
   

    <!-- ========================
      Secondary Nav
    =========================== -->
    <section class="secondary-nav secondary-nav-layout2 secondary-nav-internal-navigation sticky-top py-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="nav nav-tabs justify-content-center">
              <a href="#" data-scroll="aboutus" class="nav__link active">About Us</a>
              <a href="#" data-scroll="whychooseus" class="nav__link ">Why Choose Us</a>
              <a href="#" data-scroll="teammembers" class="nav__link ">Team Members</a>
            </nav>
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Secondary Nav -->




    
    <!-- ========================
      About Layout 2
    =========================== -->
  <div class="row">
  </div><!-- /.row -->
    <section id="aboutus" class="about-layout2 pt-130 pb-90 container-fluid secondary-color">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
            <div class="about__img mb-40">
              <img src="../static/images/about/1.jpg" alt="about">
              <blockquote class="blockquote mb-0">
                <h4 class="blockquote__title">You are helping to lead the charge; we can help you build on your
                  past successes and prepare for your great future.
                </h4>
                <span class="blockquote__author">Jamel Acquah, CEO</span>
              </blockquote>
            </div><!-- /.about-img -->
          </div><!-- /.col-xl-5 -->
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-1">
            <div class="heading-layout2 mb-40">
              <h3 class="heading__title">Who We Are?</h3>
            </div><!-- /heading -->
            <div class="about-text-wrapper">
              <div class="">
                <p>Founded in 2021, Spark Solutions is a provider of IT consulting, Data Entry, Data Analysis, Mobile Apps Development and Web Development services. 
                Our goal is to help businesses, organizations and individuals get effective IT services to improve business performance and quickly win new customers.</p>
              </div>
              <a href="contact_us" class="btn btn__primary btn__icon mt-30">
                <span>Schedule An Appointment</span><i class="icon-arrow-right"></i>
              </a>
            </div>
          </div><!-- /.col-xl-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About Layout 2 -->


<!-- ======================
    Features Layout 3
    ========================= -->
    <div class="row">
      <div class="container heading text-center mb-50">
        <h3 class="heading__title">Why Choose Us</h3>
      </div><!-- /.heading -->
  </div><!-- /.row -->
  <section id="whychooseus" class="features-layout3 pt-130 pb-130">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-6">
          <div class="heading heading-layout2 mb-50">
            <h3 class="heading__title"> 
           We Are Hear For You
            </h3>
            <p class="heading__desc mb-30">We work diligently to provide our customers with incomparable software solutions. Our primary
               goal with new clients is to help them transform their ideas into tangible, ground-breaking software that packs the appropriate punch.
          </p>
          <p>Our team is made up of the most highly experienced, inventive, visionary, and strategic minds. 
            Dedicated to our work, we pour every ounce of passion we have into our projects</p>
          </div>
          <div class="row">
            <div class="col-lg-12">
            
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.col-xl-5 -->
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-xl-1">
          <div class="sticky-top">
            <img src="../static/images/banners/team.jpg" class="rounded" alt="banner">
          </div>
        </div><!-- /col-lg-5 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.Features Layout 3 -->

 <!-- ========================
        Team layout 1
    ========================== -->
    <div class="row">
      <div class="container heading text-center mb-50">
        <h3 class="heading__title">Meet our Team</h3>
      </div><!-- /.heading -->
    </div><!-- /.row -->
    <section id="teammembers" class="team-layout1 text-center pb-40 container-fluid secondary-color">
      <div class="container">
        <div class="row"  >
          <!-- Member #1 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="member">
              <div class="member__img container2">
                <img src="static\images\team\jamel.jpeg" alt="member img">
                <p class="title"></p>
                  <div class="overlay"></div>
                  <button type="button" class="button btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"> 
                    Read More</button>
                <div class="member__hover">
                  <div class="member__content-inner">
                    <ul class="social-icons  justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
                </div><!-- /.member-hover -->
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name">Jamel Acquah</h5>
                <p class="member__desc">Chief Executive Officer</p>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->
        
          <!-- Member #2 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="member">
              <div class="member__img container2">
                <img src="../static/images/team/8.jpg" alt="member img">
                <p class="title"></p>
                  <div class="overlay"></div>
                  <button type="button" class="button btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3"> 
                    Read More</button>
                <div class="member__hover">
                  <div class="member__content-inner">
                    <ul class="social-icons justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
                </div><!-- /.member-hover -->
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name">Leeroye S. Mulbah</h5>
                <p class="member__desc">Chief Operating Officer</p>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->

          <!-- Member #3 -->
          <div class="col-sm-6 col-md-4 col-lg-4">
           <div class="member">
              <div class="member__img container2">
                <img src="../static/images/team/benedict.jpeg" alt="member img">
                <p class="title"></p>
                  <div class="overlay"></div>
                  <button type="button" class="button btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2"> 
                    Read More</button>
                <div class="member__hover">
                  <div class="member__content-inner">
                    <ul class="social-icons justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
                </div><!-- /.member-hover -->
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name">Benedict Sartee </h5>
                <p class="member__desc">Chief Blogger</p>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->
        </div> <!-- /.row -->

      </div><!-- /.container -->
    </section><!-- /.Team layout 1  -->

<!---- data specialist section-->
    <div class="row">
      <div class="container heading text-center mb-50">
        <h3 class="heading__title">Data Specialist</h3>
      </div><!-- /.heading -->
    </div><!-- /.row -->
    <section id="teammembers" class="team-layout1 text-center pb-40 container-fluid secondary-color">
      <div class="container">
        <div class="row"  >
          <!-- Member #1 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="member">
              <div class="member__img container2">
                <img src="../static/images/team/8.jpg" alt="member img">
                <p class="title"></p>
                  <div class="overlay"></div>
                  <button type="button" class="button btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter5"> 
                    Read More</button>
                <div class="member__hover">
                  <div class="member__content-inner">
                    <ul class="social-icons  justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
                </div><!-- /.member-hover -->
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name">George M. Richards</h5>
                <p class="member__desc">Data Specialist</p>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-3 -->
          <!-- Member #2 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="member">
              <div class="member__img container2">
                <img src="../static/images/team/8.jpg" alt="member img">
                <p class="title"></p>
                  <div class="overlay"></div>
                  <button type="button" class="button btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter4"> 
                    Read More</button>
                <div class="member__hover">
                  <div class="member__content-inner">
                    <ul class="social-icons  justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
                </div><!-- /.member-hover -->
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name">Angel Keah</h5>
                <p class="member__desc">Head</p>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-3 -->
          <!-- Member #3 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="member">
              <div class="member__img container2">
                <img src="../static/images/team/dearest.jpg" alt="member img">
                <p class="title"></p>
                  <div class="overlay"></div>
                  <button type="button" class="button btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter7"> 
                    Read More</button>
                <div class="member__hover">
                  <div class="member__content-inner">
                    <ul class="social-icons  justify-content-center list-unstyled mb-0">
                      <li><a href="https://www.facebook.com/profile.php?id=100080371385494   "><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="https://www.instagram.com/dearestcaldwell/ "><i class="fab fa-instagram"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/senamu-dearest-caldwell-37a175245"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
                </div><!-- /.member-hover -->
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name">Dearest Caldwell</h5>
                <p class="member__desc">Data Specialist</p>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-3 -->


          </div> <!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.data specialist -->
  
  <!---developer  -->
    <div class="row">
      <div class="container heading text-center mb-50">
        <h3 class="heading__title">Developer</h3>
      </div><!-- /.heading -->
    </div><!-- /.row -->
    <section id="teammembers" class="team-layout1 text-center pb-40 container-fluid secondary-color">
      <div class="container">
        <div class="row"  >
          <!-- Member #1 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="member">
              <div class="member__img container2">
                <img src="../static/images/team/jacob.jpeg" alt="member img">
                <p class="title"></p>
                  <div class="overlay"></div>
                  <button type="button" class="button btn btn-primary" data-toggle="modal" data-target="#jacob"> 
                    Read More</button>
                <div class="member__hover">
                  <div class="member__content-inner">
                    <ul class="social-icons  justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
                </div><!-- /.member-hover -->
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name">Jacob S. M. Belem</h5>
                <p class="member__desc">Developer</p>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-3 -->
          <!-- Member #2 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="member">
              <div class="member__img container2">
                <img src="../static/images/team/melvin.jpeg" alt="member img">
                <p class="title"></p>
                  <div class="overlay"></div>
                  <button type="button" class="button btn btn-primary" data-toggle="modal" data-target="#melvin"> 
                    Read More</button>
                <div class="member__hover">
                  <div class="member__content-inner">
                    <ul class="social-icons  justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
                </div><!-- /.member-hover -->
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name">Melvin JoJo Konneh</h5>
                <p class="member__desc">CTO</p>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-3 -->
          <!-- Member #3 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="member">
              <div class="member__img container2">
                <img src="../static/images/team/baysah.jpeg" alt="member img">
                <p class="title"></p>
                  <div class="overlay"></div>
                  <button type="button" class="button btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter9"> 
                    Read More</button>
                <div class="member__hover">
                  <div class="member__content-inner">
                    <ul class="social-icons  justify-content-center list-unstyled mb-0">
                      <li><a href="https://www.facebook.com/baysahguwor.14"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/baysah-guwor-72865413a/"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="https://twitter.com/AccessGuwor"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
                </div><!-- /.member-hover -->
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name">Baysah Guwor</h5>
                <p class="member__desc">Developer</p>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-3 -->


          </div> <!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Developer end  -->



        </div> <!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Team layout 1  -->




    <!-- Button trigger modal -->





<!-- Modal Member 1-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">More About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
        <div class="col-lg-6">
          <img src="static\images\team\jamel.jpeg">
          <div class="member__content-inner">
                    <ul class="social-icons justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
        </div>
        <div class="col-lg-6">
          <h3>Jamel Acquah</h3>
          <p>Mr. Jamel Acquah is a native of Liberia and currently serves as a cofounder and Chief Executive Officer of Spark Solution. In this capacity, Mr. Acquah hopes to deliver innovative technology and industry standards.</p> 
          <p>From the needs of maximum business coverage and accessible, Jamel hopes to build Spark Solution into a global company that finds solutions to your problems.</p>
        </div>


       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Member 2-->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">More About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
        <div class="col-lg-6">
          <img src="../static/images/team/benedict.jpeg">
          <div class="member__content-inner">
                    <ul class="social-icons justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
        </div>
        <div class="col-lg-6">
          <h3>Benedict Sartee </h3>
          <p>Benedict Sartee is a native Liberian who currently served as a Chief Blogger for
             Spark Solution and Monrovia Media Group Inc.
            Mr. Sartee is a young energetic man who believe in promoting entertainment.</p>
        </div>


       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Member 3-->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">More About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
        <div class="col-lg-6">
          <img src="static\images\team\8.jpg">
          <div class="member__content-inner">
                    <ul class="social-icons justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
        </div>
        <div class="col-lg-6">
          <h3>Leeroye S. Mulbah</h3>
          <p></p> 
          <p></p>
        </div>


       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Member 3-->
<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">More About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
        <div class="col-lg-6">
          <img src="../static/images/team/8.jpg">
          <div class="member__content-inner">
                    <ul class="social-icons justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
        </div>
        <div class="col-lg-6">
          <h3>Angel Keah</h3>
          <p></p> 
          <p></p>
        </div>


       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!----Department Modal-->

<!--Data Specialist Modal-->
<!-- Modal Member 5-->
<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">More About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
        <div class="col-lg-6">
          <img src="../static/images/team/8.jpg">
          <div class="member__content-inner">
                    <ul class="social-icons justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
        </div>
        <div class="col-lg-6">
          <h3>George M. Richards</h3>
          <p></p> 
          <p></p>
        </div>


       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Member 7-->
<div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">More About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
        <div class="col-lg-6">
          <img src="../static/images/team/dearest.jpg">
          <div class="member__content-inner">
                    <ul class="social-icons justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
        </div>
        <div class="col-lg-6">
          <h3>Dearest Caldwell</h3>
          <p>Dearest S.Caldwell..a graduate of Starz University with Bsc degree in IT and a youth president at St Matthew United Methodist Church Upper Caldwell liberia. 
            Work as Dataspecialist at Spark Solution liberia</p> 
          <p></p>
        </div>


       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!---- developer Modal-->

<!-- Modal Member8-->
<div class="modal fade" id="jacob" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">More About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
        <div class="col-lg-6">
          <img src="../static/images/team/jacob.jpeg">
          <div class="member__content-inner">
                    <ul class="social-icons justify-content-center list-unstyled mb-0">
                      <li><a href="https://www.facebook.com/jacob.belem.980"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
        </div>
        <div class="col-lg-6">
          <h3>Jacob S. M. Belem</h3>
          <p>Jacob S. M. Belem is young Liberian who is very passionate about software development and is on a life long jorney to quest for knowledge.</p> 
          <p><q>Technology is my passion and Education is my Goal</q> --Jacob S. M. Belem</p>
        </div>


       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Member 2-->
<div class="modal fade" id="melvin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">More About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
        <div class="col-lg-6">
          <img src="static\images\team\melvin.jpeg">
          <div class="member__content-inner">
                    <ul class="social-icons justify-content-center list-unstyled mb-0">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div><!-- /.member-content-inner -->
        </div>
        <div class="col-lg-6">
          <h3>Melvin JoJo Konneh</h3>
          <p>Melvin JoJo Konneh is a Application Developer, and Technology Enthusiast.</p> 
          <p>Who is currently Serving as the chief technology officer of spark solution, with my relevant skill set,  desire is Solve Your Problem effectively</p>
        </div>


       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Member 9-->
<div class="modal fade" id="exampleModalCenter9" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">More About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
        <div class="col-lg-6">
          <img src="../static/images/team/baysah.jpeg">
        
        </div>
        <div class="col-lg-6">
          <h3>Baysah Guwor</h3>
          <p> Baysah Guwor is a native of Liberia, currently a developer at spark solutions and a BIT Degree holder in System Administration
            with several certifications in Programming, Web Development, Cybersecurity, Ms SQL Server etc. </p> 
          <p> In his capacity as a developer at Spark, he work together with team members to develop web apps, mobile apps, websites etc as may be required by clients.   </p>
        </div>


       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





    {% endblock %}